@model List<TheConnoisseur.Models.Coffee>


<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left col-sm-6">
                        <img src="@item.Journal.ImagePath" alt="Coffee Icon" />
                        <br />
                        @item.Journal.Title
                        by @item.Journal.Maker
                    </div>
                    <div class="pull-left col-sm-6">
                        <b>Rating:</b> @item.Journal.Rating
                        <br />
                        <b>Origin:</b> @item.Origin
                        <br />
                        @item.Journal.Description
                        <br />
                        @Html.ActionLink("Read", "Details", "Coffees", new { @Id = @item.CoffeeID }, new { @class = "btn btn-default btn-block" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<hr />