@model IEnumerable<TheConnoisseur.Models.Author>

@{
    ViewBag.Title = "Manage Members";
}

<h2>Manage Members</h2>


@using (Html.BeginForm("SearchMembers", "Authorization", "POST"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Search for Member by Username</h4>
        <hr />
        <h4>@ViewBag.ResultMessage</h4>
        <div class="form-group">
            @Html.Label("Enter username:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("nameSearch", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@* Checking if user is arriving to page first time*@
@if (Model != null)
{

    <table class="table table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <span onclick="return confirm('Are you sure you want to delete?')">
                        @Html.ActionLink("Delete Member", "DeleteMember", new { id = item.Id })
                    </span> | 
                    <span onclick="return confirm('Are you sure you want to delete member and all their messages?')">
                        @Html.ActionLink("Delete Member and Messages", "DeleteMemberAndMessages", new { id = item.Id })
                    </span>
                </td>
            </tr>
        }

    </table>
}