@model IEnumerable<TheConnoisseur.Models.Beer>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left col-sm-6">
                        <img src="@item.Journal.ImagePath" alt="Beer Icon" />
                        <br />
                        @item.Journal.Title
                        by @item.Journal.Maker
                        <br />
                        Author: @Html.ActionLink(item.Journal.Author.UserName, "FriendProfile", "Author", new { item.Journal.Author.Id }, new { @class = "" })
                        @Html.ActionLink(item.Journal.Author.UserName, "FriendProfile", "Author", new { friendID = item.Journal.Author.Id }, new { @class = "" })
                    </div>
                    <div class="pull-left col-sm-6">
                        <b>Rating:</b> @item.Journal.Rating
                        <br />
                        <b>ABV:</b> @item.Abv
                        <br />
                        @item.Journal.Description
                        <br />
                        @Html.ActionLink("Read Full", "FriendBeerJournals", "Beers", new { item.Journal.Author.Id }, new { @class = "btn btn-default btn-block" })
                        <a href="@Url.Action("FriendBeerJournals", "Beers", new { friendID = item.Journal.Author.Id })#@item.BeerID" class="btn btn-default btn-block">Read Full</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>